.logo{
    width: 5rem;
}

.navlist{
    display: flex;

    position: relative;

    padding: 2em;

    justify-content: space-between;
    align-items: center;
}

.navlist li{
    width: 92px;
    height: 38px;

    background: #A57F2A;

    border-radius: 2px;
}

.navlist li button{
    width: 85px;
    height: 35px;

    background: #F5F5F5;
    border: none;
}

.navlist li button:hover{

    background: #EEF09E;
    transition: 0.5s;

}

.navlist li a:hover{
    color: #000;
    transition: 0.4s;
}


.navlist li button img{
    width: 1.171rem;
    margin-left: 5px;

    transition: 0.4s;
}

.navlist li button img:hover{
    transform: rotate(90deg);
    transition: 0.4s;
}

/* Menu */

.menu{
    position: absolute;
    width: 397px;
    height: 450px;

    top: 0;
    right: 0;
    right: -534px;

    background-color: #d3a83c;
    transition: 0.4s;

    border-radius: 0px 0px 0px 50px;
}

.menu_container{
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 2em;
}

.closed{
    width: 97px;
    height: 44px;

    margin-top: 20px;

    background: #EEF09E;
    margin-left: 12em;
}

.closed button{
    width: 92px;
    height: 32px;

    position: relative;

    background: #FFFFFF;
    border: none;

    display: flex;
    align-items: center;
    justify-content: center;
}

.closed button:hover{
    background: #A57F2A;
    transition: 0.4s;
}

.closed button img{
    width: 1rem;
    margin-left: 10px;
}

.closed button img:hover{
    animation: mark 2s infinite;
    transition: 0.4s;
}

.menu_list{
    width: 225px;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 1em;

    background: #EEF09E;
}

.menu_list li{
    background: #EEF09E;

    height: auto;

    font-weight: 400;
    font-size: 32px;
    line-height: 39px;

    margin-bottom: 15px;

    color: #180505;
}

.menu_list li:hover{
    width: 100%;
    text-align: center;

    background: #A57F2A;
    transition: 0.5s;
}

@keyframes mark {
  50%{
    transform: rotate(90deg);
    transition: 0.4s;
  }

  100%{
    transform: rotate(0deg);
    transition: 0.4s;
  }
}